<input *ngIf="!isDatepickerVisible" [(ngModel)]="value" [type]="type" class="form-control" required>

<label *ngIf="isLabelVisible" [for]="name" class="form-control-placeholder">{{name.capitalize()}}</label>
<span class="focus-border"></span>

<i *ngIf="ngControl?.status === 'VALID' && isCheckIconVisible" class="fas fa-check-circle check-icon"></i>

<i *ngIf="ngControl?.name === 'password' && type === 'password'" class="far fa-eye-slash eye-icon"
   (click)="togglePasswordVisibility()"></i>

<i *ngIf="ngControl?.name === 'password' && type === 'text'" class="far fa-eye eye-icon"
   (click)="togglePasswordVisibility()"></i>
