:host {
  width: 100%;
  height: 100%;
}

.btn-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem .5rem;
  display: flex;
}

.btn {
  margin: 0 .25rem;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .25rem .125rem 3rem;
  color:  #bdbdbd;
}

.logout-icon {
  cursor: pointer;
  font-size: 1rem;
  padding-left: .25rem;
}
