<div class="logout-container">
  Logout
  <span class="material-icons logout-icon" (click)="logout()">exit_to_app</span>
</div>
<app-list [wordsList]="wordsList"></app-list>
<div class="btn-container">
  <button mat-fab color="primary" class="btn" (click)="goTo(addFormUrl)">
    <span class="material-icons">add</span>
  </button>
  <button *ngIf="wordsList?.length > 0" mat-fab color="primary" class="btn" (click)="goTo(gameUrl)">
    <span class="material-icons">play_arrow</span>
  </button>
</div>
