<form #signInForm="ngForm" (ngSubmit)="signInWithEmailAndPassword(signInForm)" class="form-grid" @fade>

  <div class="form-container">
    <h1 class="header">Awesome <br>Flashcards</h1>

    <mat-form-field><input matInput placeholder="E-mail" name="email" ngModel required></mat-form-field>
    <validation-msg [form]="signInForm" name="Email" text="Invalid e-mail address"></validation-msg>

    <mat-form-field>
      <input matInput placeholder="Password" name="password" type="password" ngModel passwordPattern required>
    </mat-form-field>
    <validation-msg [form]="signInForm"
                    name="password"
                    text=" Password must be at least 8 characters, contain at least one upper case, one lower case and one digit">
    </validation-msg>
  </div>

  <div class="btn-container">
    <button mat-raised-button color="primary" type="submit">Sign In!</button>
    <p>Don't you have an account? <a routerLink="/auth/signup">Sign Up!</a></p>
  </div>
</form>


