:host {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.native-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6rem;
}

.native-word {
  font-size: 1.25rem;
  margin-bottom: .25rem;
}

.native-description {
  font-size: .6875rem;
  max-width: 10rem;
  text-align: center;
  line-height: normal;
  font-style: italic;
}

.foreign-word {
  font-size: 3rem;
  padding: 1rem 0 0;
}
