:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.add-form-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigate-before {
  padding: .5rem;
  cursor: pointer;
}

.header {
  align-self: flex-start;
}

.input-container {
  padding: 1rem 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  padding: 7rem 0 2rem;
}
