@import "../../../../assets/styles/colors";

.add-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 1rem 2rem 1rem;
  cursor: pointer
}

.add-icon {
  font-size: 1.5rem;
  color: $main-color-cyan;
}

.add-text {
  font-size: .75rem;
  margin-left: 0.5rem;
}
