$main-color-cyan: #27E0C1;
$medium-color-cyan: #27c7ac;
$dark-color-cyan: #009688;
$main-color-violet: #4E4BED;
$light-gray: #d9d9d9;
$medium-gray: #b5b5b5;
$dark-gray: #3b3b3b;
$white: #fff;
$red: #ff4c00;
